@page "/"

<PageTitle>Home</PageTitle>

<h1>CONTADOR</h1>

Welcome to your new app.

Quantos mais clicks der, mais ela sua amada estará perto de você    

<Counter  IncrementarQuantia = "250" />